<div class="box profile-info n-border-top">
  <%= form_for(post) do |f| %>
     <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
             <ul>
              <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
      <% end %>
              </ul>
          </div>
    <% end %>
      <%= f.text_area(:body, placeholder: "What's on your mind", class: "form-control input-lg p-text-area", rows: "2") %>
      
      <div class="box-footer box-form">
          <button type="submit" class="btn post-button pull-right">Post</button>
              <ul class="nav nav-pills">
                  <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                  <li><a href="#"><i class="fa fa-camera"></i></a></li>
                  <li><a href="#"><i class=" fa fa-film"></i></a></li>
                  <li><a href="#"><i class="fa fa-microphone"></i></a></li>
                </ul>
      </div>
    <% end %>
</div><!-- end post state form -->

