
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
      
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.text_area(:body, placeholder: "What's on your mind") %>
    </div>
    <ul> 
      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
    </ul>
      <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
<% end %>
      </div><!-- Status Upload  -->
    </div><!-- Widget Area -->
  </div>
        
    </div>
</div>

