/*Place all the styles related to the posts controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/*/

/*===================Landing page without signing in===================== */
.featured-stream{
		text-align: center;
		color: #47d147
}

.home-stream{
    margin-top: 50px;
		margin-left: 150px;
}

.stream-css{
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;

	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;

}

.stream-container{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('gaming-icons.jpg');
    background-size: cover;
    height: 600px;
    margin-top: -22px;
}

#carousel-example-generic{
  margin-left: 50px;
}

/*===============landing page after signing in=================*/

.followed-users{
  margin-top: 30px;
}

.friends-list{
  height: 100px;
  width: 100px;
}

.user-home{
  margin-left: 100px;
}

.post-pic{
  height: 100px;
  width: 100px
}

.fix-padding{
  padding-left: 110px;
}



.feed{

  margin-left: -10px !important;
}



/*================= Profile container ==================*/
.profile {
  margin: 20px 0;
}


/*=============Carousel Styles==============*/
.carousel-box{
	margin-top: 60px;
}
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}



/*=============user card styling===============*/

body{
  padding-top:30px;
}

.glyphicon {  
  margin-bottom: 10px;margin-right: 10px;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

/*=============This is for the space to seperate content on the home page=============*/

.empty-box{
  position: absolute;
  height: 100px;
}















































