/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/* ===========Profile=============*/
.card-box {
  padding: 20px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-left: 140px;
  margin-right: -20px;
}
.home-profile-pic{
  height: 200px;
  width: 200px;
}
.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-bottom: 8px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.business-card{
  margin-top: 150px;
}

.second-profile-content{
  margin-top: 700px;
}


.add-info{
  color: white;
  text-align: center;
}

.edit-details{
  margin-left: 200px;
}

/*===========edit user information styles===========*/
.red{
    color:red;
    }
.form-area
{
  margin-left: 200px;
  background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
  }
.delete-account{
  margin-top: 10px;
}
.edit-details{
  margin-left: 130px;
}

.login{
  margin-top: 100px;
}

.card-picture{
  height: 185px;
  width: 185px;
}

.user-card{
    position: absolute;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('characters.jpg');
    background-size: cover;
    height: 650px;
    width: 100%;
    margin-top: -22px;
}